@import '~bulma/bulma';
@import 'modules/font';
@import 'modules/variables';
body{
  font-family:$font1;
}

/* Heading */
.logo{
  width:40px;
}
h1{
  transition-delay:3s;
  overflow: hidden;
  span{
    height: 3rem;
    display: inline-block;
    transition: all ease-in 0.3s;
    transition-delay:3s;
    position:relative;
    bottom:200px;
  }
  &.activeHeading{
    span{
      animation: xaxisdownup 2s 1;
      animation-fill-mode: forwards;
    }
  }
}
@keyframes xaxisdownup {
    0%   {bottom: 200px;}
    25%  {bottom: 100px;}
    75%  {bottom: 50px}
    100% {bottom: 0px;}
}
.notification{
  max-width:40.5vw;
}
/* Cards */
.card{
  a{
    transition: all ease-in 0.3s;
    &:hover{
      opacity:0.3;
    }
  }
  .card-content{
     align-self: flex-end;
  }
}
small{
  text-transform: lowercase;
}
/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: lighten($prime2,45%);
  overflow: hidden;
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background:lighten($prime1,5%);
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
  }
  .tab-content {
    max-height: 0;
    overflow: hidden;
    background:$prime1;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
  }
  /* :checked */
  input:checked ~ .tab-content {
    max-height:40em;
    overflow: scroll;
  }
  /* Icon */
  label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  input {
    &[type=checkbox] + label::after {
      content: "+";
    }
    &[type=radio] + label::after {
      content: "\25BC";
    }
    &[type=checkbox]:checked + label::after {
      transform: rotate(315deg);
    }
    &[type=radio]:checked + label::after {
      transform: rotateX(180deg);
    }
  }
}
