<template>
  <div>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>TT - Feed Parser</strong> by <a href="http://aliasim.com">Ali Asim</a>.
          </p>
          <small>Vue JS / AXIOS / FAST XML PARSER / Vee-Validate / bulma css</small>
        </div>
      </div>
    </footer>
  </div>
</template>
