<template>
  <div class="product">
    <!-- form // -->
    <section class="hero is-medium is-dark is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1" v-bind:class="{'activeHeading':appLoaded}">
            <img src="/static/img/logo.png" class="logo" alt="tt - feed parser" /> <span>Feed Parser</span>
          </h1>
          <form v-on:submit.prevent="checkWebsite(inputUrl)">
            <div class="columns">
              <div class="control column">
                <input type="text" class="input" value="" v-model="inputUrl" ref="my_input" v-validate="'url:require_protocol'"  data-vv-as="URL" :class="{'input': true, 'is-danger': vErrors.has('url_field') }" name="url_field" placeholder="Enter a url" required  />
              </div>
              <div class="column">
                <span>
                    <a href="#" class="button is-primary" @click="checkWebsite(inputUrl)" v-bind:class="{'is-loading': ajaxRequest}">Parse Feed</a>
                </span>
              </div>
            </div>
            <div class="notification is-danger" v-if="errorMsg">
              <span v-if="vErrors.has('url_field')"  v-show="vErrors.has('url_field')" class="">Please input a valid URL</span>
              <span v-else>Something went wrong, please try again.</span>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- // form -->
    <!-- content -->
    <section class="section" v-if="products" >
      <div class="columns is-multiline">
        <div v-bind:href="product.productURL" class="card column is-2"  v-bind:id="product.productID" v-for="product of products.product">
          <div class="card-image">
            <figure class="image is-4by3">
              <a target="_blank" v-bind:href="product.productURL"><img v-bind:src="product.imageURL" alt="Image" /></a>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3 v-html="product.name"></h3>
              <h4>{{product.price._currency}} {{product.price.text}}</h4>
              <hr />
              <p>{{product.description}}</p>
              <div v-for="category of product.categories">
                <div v-if="category.length > 1">
                  <div v-for="cat of category"><span class="tag is-primary">{{cat.text}}</span></div>
                </div>
                <div v-else>
                  <span class="tag is-primary">{{category.text}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="tab">
            <input v-bind:id="'tab-'+product.productID" type="checkbox" name="tabs">
            <label v-bind:for="'tab-'+product.productID">source < ></label>
            <div class="tab-content">
              <pre>
                <code>{{product}}</code>
              </pre>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- // content -->
  </div>
</template>

<!-- logic // -->
<script>
import axios from 'axios'
import fastXmlParser from 'fast-xml-parser'
export default {
  name: 'Index',
  data: () => ({
    products: [],
    ajaxRequest: false,
    errorMsg: false,
    url: '',
    inputUrl: '',
    errors: [],
    appLoaded: false
  }),
  created: function () {
    this.appLoaded = true
  },
  methods: {
    checkWebsite: function (loadurl) {
      this.url = loadurl
      this.ajaxRequest = !this.ajaxRequest
      this.errorMsg = false
      this.products = ''
      axios.get(this.url)
      .then(response => {
        if (fastXmlParser.validate(response.data) === true) {
          var options = {
            attrPrefix: '_',
            textNodeName: 'text',
            ignoreNonTextNodeAttr: false,
            ignoreTextNodeAttr: false,
            ignoreNameSpace: false,
            ignoreRootElement: false,
            textNodeConversion: true,
            textAttrConversion: true,
            arrayMode: false
          }
          let jsonObj = fastXmlParser.parse(response.data, options)
          this.products = jsonObj.products
          this.ajaxRequest = false
        } else {
          this.ajaxRequest = false
          this.errorMsg = true
        }
      })
      .catch(e => {
        this.errors.push(e)
        this.ajaxRequest = false
        this.errorMsg = true
      })
    }
  },
  beforeMount: function () {
    this.checkWebsite('http://pf.tradetracker.net:8080/static/productfeed.xml')
  }
}
</script>
<!-- // logic -->
