<style lang="scss">
   @import "./assets/scss/app.scss";
</style>
<template>
  <div id="app">
    <router-view></router-view>
    <v-footer></v-footer>
  </div>
</template>
<script>
import Footer from '@/components/layout/Footer'
export default {
  name: 'app',
  components: {
    'v-footer': Footer
  }
}
</script>
